@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <ul>
        <li><a href="@Url.Action("SetSession")">Set Session</a></li>
        <li><a href="@Url.Action("GetSession")">Get Session</a></li>
    </ul>
</body>
</html>